:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --background-color: #e33a11;
}

.layoutContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 0.8fr;
  grid-template-areas:
    "nav     nav    nav    nav"
    "sidebar main   main   main"
    "sidebar footer footer footer";
}

a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

a:hover {
  border-bottom: 1px solid white;
}

nav {
  grid-area: nav;
  background-color: var(--background-color);
  padding: 10px;
}

nav a,
footer a {
  color: white;
}

nav a:nth-of-type(1) {
  float: left;
}

nav a:nth-child(n + 2) {
  float: right;
}

main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  grid-area: footer;
  color: white;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background-color: black;
  display: grid;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
  .layoutContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "sidebar"
      "footer";
  }
}
