.app {
  display: grid;
  grid-template-rows: 75px 1fr 50px;
}

.header {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.main {
  min-height: calc(100vh - 125px);
}

.footer {
  height: 100%;
  text-align: center;
}
