.app {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.app header .appName {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

.app header .navLinks {
  display: grid;
  --auto-grid-min-size: 7rem;
  align-items: center;
  justify-items: space-around;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5px;
}

.navLinks a {
  text-align: center;
}
