.articleCard {
  -webkit-box-shadow: inset 0px -16px 15px 5px #000000;
  box-shadow: inset 0px -16px 15px -15px #000000;
  background-color: #f3dfc1;
  padding: 10px;
  max-width: calc(100vw - 25px);
  margin: 15px;
}

.articleData {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.articleCard hr:first-of-type {
  margin-top: 5px;
}

.articleTitle {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.articleAuthor {
  text-align: center;
}

.articleBody p {
  padding: 10px;
}
