.articleCard {
  -webkit-box-shadow: inset 0px -16px 15px 5px #000000;
  box-shadow: inset 0px -16px 15px -15px #000000;
  padding: 20px;
  margin: 20px;
  height: 100%;
}

.articleTitle {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.articleAuthor {
  text-align: center;
}

.articleTopic {
  display: grid;
  align-items: center;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.dateBar {
  margin-top: 5px;
}

.articleData {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
}

.votes {
  text-align: center;
}

.comments {
  text-align: right;
}

.articleContainer a {
  text-decoration: none;
  color: #181818;
  display: block;
  height: 100%;
}

.fakeContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  height: 30%;
  margin-left: -15px;
}

.fakeContent div {
  padding: 10px;
  margin: 10px;
  background-color: lightslategray;
  width: 100%;
}
