.articleControls {
  display: grid;
  --auto-filter-grid-min-size: 10rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-filter-grid-min-size), 1fr)
  );
  width: calc(100vw - 30px);
  row-gap: 5px;
  text-align: center;
}

.articleControls a {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
}

.current {
  color: white;
  background-color: black;
}

.articleControlsContainer {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.articleControls h4 {
  margin: 5px;
}

.articleControls .filters {
  display: grid;
}
